@font-face {
    font-family: "MontserratRegular";
    src: url('assets/fonts/Montserrat/Montserrat-Regular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratBold";
    src: url('assets/fonts/Montserrat/Montserrat-Bold.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}